!bootstrap/talos-templates/
environments/*/talos-values.yaml
environments/*/talos-values.yaml.bak
environments/*/*.secret.yaml
.env
.env.bkp
.env.backup
.env.sops
.env.ssm
.env.local
.age-key
.claude
.kiro
scripts/bootstrap/bootstrap-credentials/*.txt
bootstrap/talos/nodes/cp01-main/config.yaml.*
bootstrap/talos/talosconfig
bootstrap/talos/nodes/*/config.yaml

# Temporary files
platform/foundation/provider-aws-serviceaccounts.yaml
scripts/local-ci/logs

#temporary files
.bootstrap-stage-cache
.talos-credentials
.release-artifacts
.tenants-cache/
.zerotouch-cache/
*.log
.env.ssm.bkp
**.key
__pycache__
.pytest_cache
codebase.md
zt-codebase.md
archived
temp-docs
