!bootstrap/talos-templates/
environments/*/talos-values.yaml
environments/*/talos-values.yaml.bak
environments/*/*.secret.yaml
.env
.env.ssm
.age-key
.sops.yaml
.claude
.kiro
temp-docs
scripts/bootstrap/bootstrap-credentials/*.txt
bootstrap/talos/nodes/cp01-main/config.yaml.*
# Temporary files
*.log
.env.ssm.bkp
archived

# Tenant configuration cache
.tenants-cache/
codebase.md
scripts/local-ci/logs
.talos-credentials
.release-artifacts